<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9VaTrThU0_H405Bg8Zsj-OtxV8I15-WA</string>
	<key>GCM_SENDER_ID</key>
	<string>519565530146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stocks</string>
	<key>PROJECT_ID</key>
	<string>stocks-cb66b</string>
	<key>STORAGE_BUCKET</key>
	<string>stocks-cb66b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519565530146:ios:be74e24d8ffc4832bfe67b</string>
</dict>
</plist>